@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{

    var product = (Ekom.Interfaces.IProduct)ViewData["product"];
    var gridSize = (string)ViewData["size"];

    if (product != null)
    {
        var primaryVariantGroup = product.PrimaryVariantGroup;

        var price = primaryVariantGroup != null ? primaryVariantGroup.Price : product.Price;

        var images = product.Images();

        <div class="cell @gridSize">

            <div class="productItem">

                @if (images.Any())
                {
                    <a href="@product.Url" class="productItem__image">
                        <img src="@images.FirstOrDefault().Url?width=370&height=500&mode=crop&bgcolor=ffffff&format=jpg" alt="@product.Title" />
                    </a>
                }

                <a href="@product.Url" class="productItem__caption">
                    <strong>@product.Title</strong>
                </a>

                @if (price.BeforeDiscount.Value != price.Value)
                {
                    <p class="productItem__beforePrice" style="text-decoration:line-through;">@price.BeforeDiscount.CurrencyString</p>
                }


                @product.Price.BeforeDiscount.Value - @product.Price.AfterDiscount.Value

                <p class="productItem__price">@price.WithVat.CurrencyString</p>
            </div>
        </div>
    }
}

