@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var order = (Ekom.Models.OrderInfo)ViewData["order"];

    if (order != null)
    {
        <table class="cart__table">
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderline in order.OrderLines)
                {
                    var product = orderline.Product;

                    <tr>
                        <td>
                            <div class="cart__productInformation">
                                @product.Title

                                @foreach (var g in orderline.Product.VariantGroups)
                                {
                                    <p>
                                        @g.Title

                                        @foreach (var v in g.Variants)
                                        {
                                            <strong>@v.Title</strong><br />
                                        }
                                    </p>
                                }

                            </div>
                        </td>
                        <td>@orderline.Product.Price.WithVat.ToCurrencyString</td>
                        <td>
                            @using (Html.BeginUmbracoForm("AddToOrder", "EkomOrder", null, new { @Class = "cart_quantity-form" }))
                            {
                                <input type="hidden" name="lineId" value="@orderline.Id" />
                                <input type="hidden" name="action" value="@Ekom.Helpers.OrderAction.Update" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <input type="number" name="quantity" value="@orderline.Quantity" />
                                <button type="submit" class="button small">Update</button>
                            }     
                        </td>
                        <td>
                            @orderline.Amount.WithVat.ToCurrencyString
                        </td>
                        <td>
                            <form method="post" action="/umbraco/Ekom/order/RemoveOrderLine">
                                <input type="hidden" name="lineId" value="@orderline.Id" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <button type="submit" class="button small">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
}
