@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Ekom.Utilities;

@{
    var order = (Ekom.Models.OrderInfo)ViewData["order"];

    if (order != null)
    {
        <h2>@order.UniqueId</h2>

        <table class="cart__table">
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderline in order.OrderLines)
                {
                    var product = orderline.Product;

                    var variantGroup = product.VariantGroups.First();

                    var images = variantGroup.ImageIds.GetImageNodes();

                    var catalogProduct = Ekom.API.Catalog.Current.GetProduct(product.StoreInfo.Alias, product.Key);

                    <tr>
                        <td>
                            <div class="cart__productInformation">

                                @if (images.Any())
                                {
                                    <div class="cart__productImage">
                                        <img src="@images.First().Url?width=130&height=90&mode=crop&bgcolor=ffffff&anchor=top" alt="@product.Title"/>
                                    </div>
                                }

                                <a href="@catalogProduct.Url" class="cart__productCaption">@product.Title</a>

                                <div class="cart__productColor">
                                    Color <span style="background-color:#@variantGroup.Properties.GetProperty("color");" title="@variantGroup.Title"></span>
                                </div>

                                <div class="cart__productSize">
                                    @foreach (var v in variantGroup.Variants)
                                    {
                                        @v.Title
                                    }
                                </div>

                            </div>
                        </td>
                        <td>@orderline.Product.Price.WithVat.ToCurrencyString</td>
                        <td>
                            @using (Html.BeginUmbracoForm("AddToOrder", "EkomOrder", null, new { @Class = "cart_quantity-form" }))
                            {
                                <input type="hidden" name="lineId" value="@orderline.Id" />
                                <input type="hidden" name="action" value="@Ekom.Helpers.OrderAction.UpdateQuantity" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <input type="number" name="quantity" value="@orderline.Quantity" />
                                <button type="submit" class="button small">Update</button>
                            }     
                        </td>
                        <td>
                            @orderline.Amount.WithVat.ToCurrencyString
                        </td>
                        <td>
                            <form method="post" action="/umbraco/Ekom/order/RemoveOrderLine">
                                <input type="hidden" name="lineId" value="@orderline.Id" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <button type="submit" class="button small">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
}
