@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var order = (Ekom.Interfaces.IOrderInfo)ViewData["order"];

    if (order != null)
    {
        var paymentProviders = Ekom.API.Providers.Instance.GetPaymentProviders();
        var currentPaymentProviderKey = order.PaymentProvider != null ? order.PaymentProvider.Key : Guid.Empty;
        var currentShippingProviderKey = order.ShippingProvider != null ? order.ShippingProvider.Key : Guid.Empty;

        using (Html.BeginEkomForm(FormType.UpdatePaymentProvider))
        {
            <h1 class="checkout__caption">Choose Payment</h1>

            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />

            foreach (var paymentProvider in paymentProviders)
            {
                <div>
                    <label for="@paymentProvider.Key">
                        @paymentProvider.Title - @paymentProvider.Price.Value
                        <input id="@paymentProvider.Key" type="radio" name="paymentProvider" value="@paymentProvider.Key" @(currentPaymentProviderKey == paymentProvider.Key ? "checked=checked" : "") />
                    </label>
                </div>
            }

            <div>
                <button type="submit" class="button">Update</button>
            </div>
        }

        using (Html.BeginEkomCheckoutForm(CheckoutFormType.Pay))
        {
            <input type="hidden" name="PaymentProvider" value="@currentPaymentProviderKey" required />
            <input type="hidden" name="ShippingProvider" value="@currentShippingProviderKey" required />
            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
            <button type="submit" class="button"><span>Ganga frá greiðslu</span></button>
        }
    }
}
