@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var order = (Ekom.Models.OrderInfo)ViewData["order"];

    if (order != null)
    {
        var paymentProviders = Ekom.API.Providers.Current.GetPaymentProviders();
        var currentPaymentProviderKey = order.PaymentProvider != null ? order.PaymentProvider.Key : Guid.Empty;

        using (Html.BeginUmbracoForm("UpdatePaymentProvider", "EkomOrder", null, new { @Class = "cart__payment-form" }))
        {
            <h1 class="checkout__caption">Choose Payment</h1>

            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />

            foreach (var paymentProvider in paymentProviders)
            {
                <div>
                    <label for="@paymentProvider.Key">
                        @paymentProvider.Title - @paymentProvider.Price.Value
                        <input id="@paymentProvider.Key" type="radio" name="paymentProvider" value="@paymentProvider.Key" @(currentPaymentProviderKey == paymentProvider.Key ? "checked=checked" : "") />
                    </label>
                </div>
            }

            <div>
                <button type="submit" class="button">Update</button>
            </div>
        }

    }
}
