@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@{
    var currentStore = Store.Instance.GetStore();
    var allStores = Store.Instance.GetAllStores();
    var rootCategories = Catalog.Instance.GetRootCategories();
    var order = Order.Instance.GetOrder();
    var root = Store.Instance.GetRootNode(Model);

    var checkoutNode = root.Children.FirstOrDefault(x => x.GetTemplateAlias() == "Checkout");
    var LoginNode = root.Children.FirstOrDefault(x => x.GetTemplateAlias() == "Loginpage");
}

<header class="header @(Model.Level == 1 || Model.ContentType.Alias == "ekmProduct" ? "header--no-margin" : "")">

    <div class="header__top">
        <div class="grid-container">

            <div class="header__wrapper">

                <div class="header__left">

                    <div class="select select--light">

                        <span class="select__value">@currentStore.Title</span>

                        <ul class="select__dropdown">
                            @foreach (var store in allStores.Where(x => x.Id != currentStore.Id))
                            {
                                <li>
                                    <a href="@store.Url" class="select__link">@store.Title</a>
                                </li>
                            }
                        </ul>

                    </div>

                    <span class="header__divider"></span>

                    <div class="select select--light">

                        <span class="select__value">@currentStore.GetCurrentCurrency().ISOCurrencySymbol</span>

                        @if (currentStore.Currencies.Count() > 1)
                        {
                            <ul class="select__dropdown">
                                @foreach (var currency in currentStore.Currencies)
                                {
                                    <li>
                                        @using (Html.BeginEkomForm(FormType.ChangeCurrency))
                                        {
                                            <input type="hidden" name="currency" value="@currency.CurrencyValue" />
                                            <button type="submit" class="select__buttonLink">@currency.ISOCurrencySymbol</button>
                                        }
                                    </li>
                                }

                            </ul>
                        }
                    </div>

                </div>

                <div class="header__right">

                    <span class="header__divider"></span>

                    <a href="@(LoginNode != null ? LoginNode.Url : "")" class="header__top__link">
                        @(Umbraco.MemberIsLoggedOn() ? User.Identity.Name : Umbraco.GetDictionaryValue("HeMyAccount"))
                    </a>

                </div>

            </div>

        </div>
    </div>

    <div class="header__bottom">
        <div class="grid-container">
            <div class="header__wrapper header__wrapper--bottom">

                <div class="header__left">

                    <nav class="header__categories">
                        <ul>
                            @foreach (var category in rootCategories)
                            {
                                var selected = Array.IndexOf(Model.Path.Split(','), category.Id.ToString()) >= 0 ? true : false;

                                <li class="@(selected ? "header__navItem--is-selected" : "")">
                                    <a href="@category.Url">@category.Title</a>
                                </li>

                            }
                        </ul>
                    </nav>

                </div>

                <div class="header__center">

                    <div class="header__brand">
                        <a href="@currentStore.Url">Ekom</a>
                    </div>

                </div>

                <div class="header__right">

                    <a href="@(checkoutNode != null ? checkoutNode.Url : "")" class="header__cart">
                        <span class="header__cart__text">Your cart:</span>
                        <span class="header__cart__qty">@(order != null ? order.TotalQuantity : 0)</span>
                    </a>

                </div>

            </div>

        </div>
    </div>

</header>
