@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var category = _catalog.GetCategory();
    var orderBy = Context.Request.Query["orderby"];

    int currentPage = PaginationHelper.GetCurrentPage(Context);
        
    var productResponse = category.ProductsRecursive(new ProductQuery(Context.Request.Query)
    {
        Page = currentPage,
        PageSize = 12,
        AllFiltersVisible = true
    });

    var culture = Model.GetCultureFromDomains();
}

@section Main {

    <main class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-8" x-data>
        <form method="get" action="@Model.Url()">
            <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-24">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">@category.Title</h1>

                @if (productResponse.ProductCount > 0)
                {
                    <div class="flex items-center">
                        <div class="relative inline-block text-left" x-data="{
                            showSort: false
                        }">
                            <div>
                                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true" @@click="showSort = !showSort">
                                    Sort
                                    <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>

                            <div class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" x-show="showSort">
                                <div class="py-1" role="none">
                                    <input type="hidden" name="orderby" value="@(orderBy.Count > 0 ? orderBy : "TitleAsc")" />
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'TitleAsc'; $event.target.closest('form').submit();" class="@(orderBy == "TitleAsc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Title: Low to High</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'TitleDesc'; $event.target.closest('form').submit();" class="@(orderBy == "TitleDesc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Title: High to Low</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'PriceAsc'; $event.target.closest('form').submit();" class="@(orderBy == "PriceAsc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Price: Low to High</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'PriceDesc'; $event.target.closest('form').submit();" class="@(orderBy == "PriceDesc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">Price: High to Low</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'DateAsc'; $event.target.closest('form').submit();" class="@(orderBy == "DateAsc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Date: Low to High</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'DateDesc'; $event.target.closest('form').submit();" class="@(orderBy == "DateDesc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">Date: High to Low</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'SkuAsc'; $event.target.closest('form').submit();" class="@(orderBy == "SkuAsc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">SKU: Low to High</a>
                                    <a href="#" x-on:click.prevent="document.querySelector('input[name=orderby]').value = 'SkuDesc'; $event.target.closest('form').submit();" class="@(orderBy == "SkuDesc" ? "font-medium text-gray-900" : "text-gray-500") block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">SKU: High to Low</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="pb-24 pt-12 lg:grid lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4">
                
                <partial name="ekom/components/categoryFilters" view-data="@(new ViewDataDictionary(ViewData) {
                    { "productResponse", productResponse }
                })" />

                <section aria-labelledby="product-heading" class="mt-6 lg:col-span-2 lg:mt-0 xl:col-span-3">
                    <h2 id="product-heading" class="sr-only">Products</h2>

                    @if (productResponse.ProductCount <= 0)
                    {
                        <partial name="ekom/components/noProductResult" />
                    }
                    else
                    {
                        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:gap-x-8 xl:grid-cols-3">
                            @foreach (var product in productResponse.Products)
                            {
                                <partial name="ekom/components/cards/productCard" view-data="@(new ViewDataDictionary(ViewData) {
                                { "product", product }
                            })" />
                            }
                        </div>

                        <partial name="ekom/components/pagination" view-data="@(new ViewDataDictionary(ViewData) {
                            { "productResponse", productResponse }
                        })" />
                    }
                </section>
            </div>
        </form>
    </main>
}


