@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var category = _catalog.GetCategory();

    var searchQuery = Context.Request.Query["q"];

    var productResponse = category.ProductsRecursive(
        new ProductQuery(Context.Request.Query) { 
            Page = 1, 
            PageSize = 10,
            SearchQuery = searchQuery,
            OrderBy = OrderBy.TitleAsc
        });

    var culture = "en-US";
}

<h1>@category.Title</h1>

<h2>Products</h2>

<ul>
    @foreach (var prod in productResponse.Products)
    {
        <li>@prod.Title</li>
    }
</ul>

<h2>Filters</h2>

<form method="get" action="@Model.Url()">

    <label>Search:</label>
    <input type="search" value="@searchQuery" name="q" />
    <ol>
        @foreach (var filter in productResponse.Filters)
        {

            <li>
                @filter.Field.Title.GetValue(culture)

                <ul>
                    @foreach (var val in filter.Values)
                    {
                        var query = Context.Request.Query["filter_" + filter.Field.Id];

                        var value = val.GetValue(culture);

                        <li>
                            <label>
                                <input type="checkbox" value="@value" name="filter_@filter.Field.Id" @(query.Contains(value) ? "checked" : "") /> @value
                            </label>

                        </li>
                    }
                </ul>
            </li>
        }
    </ol>
    <button type="submit">Filter</button>
</form>

