@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "Master.cshtml";

    var order = Order.Instance.GetOrder();
    
    if (order == null || order.TotalQuantity <= 0)
    {
        <main class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
            <partial name="ekom/components/noCartResult" />
        </main>
           
        return;
    }
    

    <div class="cart">

        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderline in order.OrderLines)
                {
                    <tr class="orderline">
                        <td>@orderline.Product.Title</td>
                        <td>@orderline.Product.SKU</td>
                        <td>@orderline.Product.Price.WithVat.CurrencyString</td>
                        <td>
                            @using (Html.BeginEkomForm(FormType.AddToOrderCart, "orderline__update-form"))
                            {
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <input type="number" name="quantity" value="@orderline.Quantity" />
                                <input type="hidden" name="productId" value="@orderline.ProductKey" />
                                <input type="hidden" name="action" value="@OrderAction.Set" />
                                <button type="submit">Update</button>
                            }
                        </td>
                        <td>@orderline.Amount.WithVat.CurrencyString</td>
                        <td>
                            @using (Html.BeginEkomForm(FormType.RemoveOrderLine, "orderline__remove-form"))
                            {
                                <input type="hidden" name="lineId" value="@orderline.Key" />
                                <input type="hidden" name="storeAlias" value="@orderline.OrderInfo.StoreInfo.Alias" />

                                <button type="submit">
                                    Remove
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                    
                    </td>
                    <td>
                        <strong>
                            @order.TotalQuantity
                        </strong>
                    </td>
                    <td>
                        <strong>@order.ChargedAmount.CurrencyString</strong>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="payments">
        @using (Html.BeginEkomCheckoutForm(CheckoutFormType.Pay, "checkout-footer__payment-form", "payment-form"))
        {
            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
            
            foreach (var shippingProvider in _providers.GetShippingProviders())
            {
                <div>
                    <label for="@shippingProvider.Key">@shippingProvider.Title</label>
                    <input type="radio" name="ShippingProvider" value="@shippingProvider.Key" id="@shippingProvider.Key" />
                </div>
            }

            <hr />

            foreach (var paymentProvider in _providers.GetPaymentProviders())
            {
                <div>
                    <label for="@paymentProvider.Key">@paymentProvider.Title</label>
                    <input type="radio" name="PaymentProvider" value="@paymentProvider.Key" id="@paymentProvider.Key" />
                </div>
            }

            <input name="ekomUpdateInformation" hidden />

            <input name="customerName" value="ekom test customer" />
            <input name="customerEmail" value="ekom@vettvangur.is" />

            <input name="CardNumber" value="2223000010246699" hidden />
            <input name="CVV" value="123" hidden />
            <input name="Year" value="2030" hidden />
            <input name="Month" value="12" hidden />

            <button type="submit" class="button">Pay</button>
        }    
    </div>

    //</div>
}
