@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Ekom.API;
@using Ekom.Utilities;

@{
	Layout = "Masterpage.cshtml";
    var order = Order.Current.GetOrder();
}

@section Main {
    
    <div class="grid-container">

        <div class="checkout">

            @if (order != null && order.Quantity > 0)
            {
                <div class="grid-x grid-margin-x">

                    <div class="cell medium-8">

                        <h1 class="checkout__caption">Checkout</h1>

                        <div class="checkoutCart">
                            @Html.Partial("Store/Checkout/_Cart", new ViewDataDictionary {
                                { "order", order }
                            })
                        </div>

                        <div class="checkout__container">

                            <div class="checkoutInformation">
                                @Html.Partial("Store/Checkout/_Information", new ViewDataDictionary {
                                    { "order", order }
                                })
                            </div>

                            <div class="checkoutShipping">
                                @Html.Partial("Store/Checkout/_Shipping", new ViewDataDictionary {
                                    { "order", order }
                                })
                            </div>

                            <div class="checkoutPayment">
                                @Html.Partial("Store/Checkout/_Payment", new ViewDataDictionary {
                                    { "order", order }
                                })
                            </div>

                        </div>

                    </div>

                    <div class="cell medium-4">

                        <h1 class="checkout__caption">Total</h1>

                        <div>
                            Subtotal: <strong>@order.SubTotal.WithVat.ToCurrencyString</strong>
                        </div>
                        @if (order.ShippingProvider != null && order.ShippingProvider.Price.Value > 0)
                        {
                            <div>
                                Shipping: <strong>@order.ShippingProvider.Price.WithVat.ToCurrencyString</strong>
                            </div>
                        }
                        @if (order.PaymentProvider != null && order.PaymentProvider.Price.Value > 0)
                        {
                            <div>
                                Payment: <strong>@order.PaymentProvider.Price.WithVat.ToCurrencyString</strong>
                            </div>
                        }
                        <div>
                            Total: <strong>@order.ChargedAmount.WithVat.ToCurrencyString</strong>
                        </div>

                    </div>

                </div>


            }
            else
            {
                <div class="checkout__empty">
                    <h2>Engar vörur fundust í körfu</h2>
                </div>
            }

        </div>

    </div>

}

