@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Masterpage.cshtml";
}

@section Main {

    @Html.Partial("Modules/_Banner")

    @Html.GetGridHtml(Model.Content, "grid", "Foundation")

    @*<div class="row column text-center">
        <div>

        <h3>@currentStore.Alias</h3>
            <h2>
                Our Newest Products - Store : @alias - Product: @products.Count() - Domain:
                @(UmbracoContext.PublishedContentRequest.UmbracoDomain != null ? UmbracoContext.PublishedContentRequest.UmbracoDomain.DomainName : "null")
            </h2>         

            @if (currentStore != null)
            {
                <h4>Store</h4>
                <br />
                <span>Culture:</span> @currentStore.Culture.Name
                    <br />
                    <span>Vat:</span> @currentStore.Vat
                    <br />
                    <span>Include Vat In Price:</span> @currentStore.VatIncludedInPrice
                    <br />
            }


            <h4>Order</h4>

            Order: @(order != null ? "Found" : "Empty")

            @if (order != null)
            {
                <div>ReferenceId: @order.ReferenceId</div>
                <div>OrderNumber: @order.OrderNumber</div>
                <div>Store: @order.StoreInfo.Alias</div>
                <div>Quantity: @order.Quantity</div>
                <div>Status: @order.OrderStatus</div>
                <div>Total: @order.ChargedAmount.ToCurrencyString()</div>

                if (order.OrderLines.Any())
                {
                    <ul>
                        @foreach (var line in order.OrderLines)
                        {
                            <li><a href="#" data-store="@order.StoreInfo.Alias" data-lineId="@line.Id" class="order-remove-line">Remove</a> @line.Id - @line.Quantity - @(line.Product != null ? line.Product.Title : "") - @(line.Product != null ? line.Product.SKU : "") - @line.Amount.WithVat.ToCurrencyString()
    

                                @if (line.Product.VariantGroups.Any())
                                {
                                    foreach (var group in line.Product.VariantGroups)
                                    {
                                        <h4>@group.Title - @group.Id</h4>

                                        <ul>
                                            @foreach (var variant in group.Variants)
                                            {
                                                <li>@variant.Id - @variant.Title</li>
                                            }
                                        </ul>
                                    }

                                }
                            </li>
                        }
                    </ul>
                }
            }

        </div><hr></div>
    
    <div class="row small-up-2 large-up-4">

        @foreach (var product in products)
        {
            <div class="column">
                <img class="thumbnail" src="http://placehold.it/300x400">
                <h5>@product.Title</h5>

                <p>Price With Vat : @product.Price.WithVat.Value</p>
                <p>Price WithOut Vat : @product.Price.WithoutVat.Value</p>
                <p>Price Original : @product.Price.Value</p>

                <a href="@product.Url" class="button expanded">View</a>

                <form method="post" action="/umbraco/surface/Ekom/order/addtoOrder" class="add-to-order">
                    <input type="hidden" name="productId" value="@product.Key" />
                    <input type="hidden" name="variantId" value="@Guid.Empty" />
                    <input type="hidden" name="storeAlias" value="@currentStore.Alias" />
                    <input type="hidden" name="action" value="@Ekom.Helpers.OrderAction.Update" />

                    @if (product.VariantGroups.Any())
                    {
                        foreach (var group in product.VariantGroups.Where(x => x.Variants.Any()))
                        {
                            <h5>@group.Title</h5>

                            <select name="variantId">
                                @foreach (var variant in group.Variants)
                                {
                                    <option value="@variant.Key">@variant.Title</option>
                                }
                            </select>

                        }
                    }
                    <input type="number" name="quantity" value="1" />

                    <button type="submit" class="button expanded">Add to cart</button>
                </form>

            </div>
        }

    </div>*@
	}
