@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{ 
    var currentCategory = (Ekom.Interfaces.ICategory)ViewData["category"];
    var categories = currentCategory.RootCategory.SubCategories;
}

<div class="categoryBar">

    <h4 class="categoryBar__caption">@Umbraco.GetDictionaryValue("CpCaption")</h4>

    @if (categories.Any())
    {
        <nav class="categoryBar__list">
            @RenderList(categories, currentCategory)
        </nav>
    }

</div>

@helper RenderList(IEnumerable<Ekom.Interfaces.ICategory> categories, Ekom.Interfaces.ICategory currentCategory) {

    if (categories.Any())
    {
        <ul>
            @foreach (var category in categories)
            {
                var selected = Array.IndexOf(currentCategory.Path.Split(','), category.Id.ToString()) >= 0 ? true : false;

                <li class="@(selected ? "categoryBar__item--is-selected" : "")">
                    <a href="@category.Url">@category.Title</a>

                    @RenderList(category.SubCategories, currentCategory)
                </li>
            }
        </ul>
    }
}
