@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Ekom.Utilities;
@{
    var order = (Ekom.Interfaces.IOrderInfo)ViewData["order"];

    if (order != null)
    {
        <table class="cart__table">
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderline in order.OrderLines)
                {
                    var product = orderline.Product;

                    var variantGroup = product.VariantGroups.FirstOrDefault();

                    var catalogPrice = product.Price.WithVat.CurrencyString;

                    var variant = variantGroup?.Variants.FirstOrDefault();

                    if (variant != null)
                    {
                        catalogPrice = variant.Price.WithVat.CurrencyString;
                    }

                    //var images = variantGroup != null ? variantGroup.ImageIds.GetImageNodes() : product.ImageIds.GetImageNodes();

                    var catalogProduct = Catalog.Instance.GetProduct(order.StoreInfo.Alias, product.Key);

                    <tr>
                        <td class="no-padding-left">
                            <div class="cart__productInformation">

                                @*@if (images.Any())
                                    {
                                        <div class="cart__productImage">
                                            <a href="@catalogProduct.Url">
                                                <img src="@images.First().Url?width=130&height=90&mode=crop&bgcolor=ffffff&anchor=top&format=jpg" alt="@product.Title" />
                                            </a>

                                        </div>
                                    }*@

                                <a href="@catalogProduct.Url" class="cart__productCaption">@product.Title</a>

                                @if (variantGroup != null)
                                {
                                    <div class="cart__productColor">
                                        Color <span style="background-color:#@variantGroup.Properties.GetPropertyValue("color");" title="@variantGroup.Title"></span>
                                    </div>

                                    <div class="cart__productSize">
                                        @foreach (var v in variantGroup.Variants)
                                        {
                                            @v.Title
                                        }
                                    </div>
                                }

                            </div>
                        </td>
                        <td>
                            <span class="cart__price">@catalogPrice</span>
                        </td>
                        <td>
                            @using (Html.BeginEkomForm(FormType.UpdateOrderLineQuantity))
                            {
                                <input type="hidden" name="orderLineId" value="@orderline.Key" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <input type="number" name="quantity" value="@orderline.Quantity" />
                                <button type="submit" class="button small show-for-sr">Update</button>
                            }
                        </td>
                        <td>
                            <span class="cart__price">@orderline.Amount.WithVat.CurrencyString</span>
                        </td>
                        <td class="text-center">
                            @using (Html.BeginEkomForm(FormType.RemoveOrderLine))
                            {
                                <input type="hidden" name="lineId" value="@orderline.Key" />
                                <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />
                                <button type="submit" class="button small">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
}
