@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var order = (Ekom.Interfaces.IOrderInfo)ViewData["order"];

    if (order != null)
    {

        using (Html.BeginEkomForm(FormType.UpdateCustomerInformation))
        {
            <h1 class="checkout__caption">Customer Details</h1>

            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />

            <div>
                <label for="customerName">Name</label>
                <input type="text" name="customerName" id="customerName" value="@order.CustomerInformation.Customer.Name" />
            </div>

            <div>
                <label for="customerEmail">Email</label>
                <input type="email" name="customerEmail" id="customerEmail" value="@order.CustomerInformation.Customer.Email" />
            </div>

            <div>
                <label for="customerCountry">Country</label>
                <input type="text" name="customerCountry" id="customerCountry" value="@order.CustomerInformation.Customer.Country" />
            </div>

            <div>
                <label for="customerCity">City</label>
                <input type="text" name="customerCity" id="customerCity" value="@order.CustomerInformation.Customer.City" />
            </div>

            <div>
                <label for="customerAddress">Address</label>
                <input type="text" name="customerAddress" id="customerAddress" value="@order.CustomerInformation.Customer.Address" />
            </div>

            <div>
                <label for="customerZipCode">ZipCode</label>
                <input type="text" name="customerZipCode" id="customerZipCode" value="@order.CustomerInformation.Customer.ZipCode" />
            </div>

            <div>
                <label for="customerPhone">Phone</label>
                <input type="text" name="customerPhone" id="customerPhone" value="@order.CustomerInformation.Customer.Phone" />
            </div>

            <div>
                <label for="customerComment">Comment</label>
                <textarea name="customerComment" id="customerComment">@order.CustomerInformation.Customer.Properties.GetPropertyValue("customerComment")</textarea>
            </div>

            <h1 class="checkout__caption">Shipping Details</h1>

            <div>
                <label for="shippingName">Name</label>
                <input type="text" name="shippingName" id="shippingName" value="@order.CustomerInformation.Shipping.Name" />
            </div>

            <div>
                <label for="shippingCountry">Country</label>
                <input type="text" name="shippingCountry" id="shippingCountry" value="@order.CustomerInformation.Shipping.Country"/>
            </div>

            <div>
                <label for="shippingCity">City</label>
                <input type="text" name="shippingCity" id="shippingCity" value="@order.CustomerInformation.Shipping.City"/>
            </div>

            <div>
                <label for="shippingAddress">Address</label>
                <input type="text" name="shippingAddress" id="shippingAddress" value="@order.CustomerInformation.Shipping.Address"/>
            </div>

            <div>
                <label for="shippingZipCode">ZipCode</label>
                <input type="text" name="shippingZipCode" id="shippingZipCode" value="@order.CustomerInformation.Shipping.ZipCode"/>
            </div>

            <div>
                <button type="submit" class="button">Update</button>
            </div>
        }

    }
}
