@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var order = (Ekom.Interfaces.IOrderInfo)ViewData["order"];

    if (order != null)
    {
        var shippingProviders = Ekom.API.Providers.Instance.GetShippingProviders();
        var currentShippingProviderKey = order.ShippingProvider != null ? order.ShippingProvider.Key : Guid.Empty;

        using (Html.BeginEkomForm(FormType.UpdateShippingProvider))
        {
            <h1 class="checkout__caption">Choose Shipping</h1>

            <input type="hidden" name="storeAlias" value="@order.StoreInfo.Alias" />

            foreach (var shippingProvider in shippingProviders)
            {
                <div>
                    <label for="@shippingProvider.Key">
                        @shippingProvider.Title - @shippingProvider.Price.Value
                        <input id="@shippingProvider.Key" type="radio" name="shippingProvider" value="@shippingProvider.Key" @(currentShippingProviderKey == shippingProvider.Key ? "checked=checked" : "") />
                    </label>
                </div>
            }

            <div>
                <button type="submit" class="button">Update</button>
            </div>
        }

    }
}
