@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Ekom.Site.Extensions.Services;

@{

    var local = Store.Instance.GetStore();

    var product = Catalog.Instance.GetProduct();
    var category = Catalog.Instance.GetCategory();

    string _host = Request.Url.Host.ToLower();
    string host = Request.Url.Scheme + "://" + _host;

    string url = host + Model.Url;

    var root = Store.Instance.GetRootNode(Model);

    string pageTitle = UtilityService.GetTitle(Model);
    string siteName = root.Value<string>("siteName");
    string divider = " - ";
    string description = Model.Value<string>("metaDescription");
    string keywords = Model.Value<string>("metaKeywords");

    if (category != null)
    {
        pageTitle = category.Title;
        url = category.Url;
    }

    if (product != null)
    {

        pageTitle = product.Title;
        url = product.Url;
    }

    string title = pageTitle + divider + siteName;

    string ogTitle = Model.HasValue("ogTitle") ? Model.Value<string>("ogTitle") + divider + siteName : title;
    string ogDescription = Model.HasValue("ogDescription") ? Model.Value<string>("ogDescription") + divider + siteName : description;

    string ogImage = "";

    if (Model.HasValue("ogImage"))
    {
        var media = Umbraco.Media(Model.Value<string>("ogImage"));

        if (media != null)
        {
            ogImage = media.Url + "?width=860&height=860&mode=fit";
        }
    }

    <title>@title</title>

    <meta name="description" content="@description">
    <meta name="keywords" content="@keywords">

    <meta property="og:title" content="@ogTitle">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">

    if (!string.IsNullOrEmpty(ogImage))
    {
        <meta property="og:image" content="@(host)@ogImage">
    }

    <meta property="og:site_name" content="@siteName">
    <meta property="og:description" content="@ogDescription">


    if (Model.Value<bool>("hideFromSearchCrawlers"))
    {
        <meta name="robots" content="noindex" />
    }
}
