@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Ekom.Utilities;

@{
    Layout = "Masterpage.cshtml";

    var product = Catalog.Instance.GetProduct();
    var category = Catalog.Instance.GetCategory();
    var groups = product.VariantGroups.Where(x => x.Variants.Any()).OrderBy(x => x.SortOrder);
    var primaryVariantGroup = product.PrimaryVariantGroup;

    var images = product.GetPropertyValue("images").GetImages();

    var primaryImage = images.FirstOrDefault();
}

@section Main {

    <div class="product">

        <div class="product__grid">
            @if (primaryImage != null)
            {
                <div class="product__image-container">
                    <img src="@(primaryImage.Url)?width=685&height=845&mode=crop&bgcolor=ffffff&format=jpg" alt="@product.Title" />
                </div>
            }
            <div class="product__info-container">

                <h4 class="product__category">
                    <a href="@category.Url">@category.Title</a>
                </h4>

                <h1 class="product__caption">
                    @product.Title
                </h1>

                @if (primaryVariantGroup != null && primaryVariantGroup.Variants.Any())
                {
                    if (product.ProductDiscount("") != null)
                    {
                        <strong class="product__beforePrice" style="text-decoration:line-through;">@primaryVariantGroup.Variants.OrderBy(x => x.SortOrder).FirstOrDefault().Price.BeforeDiscount.CurrencyString</strong>
                    }
                    <strong class="product__price">@primaryVariantGroup.Variants.OrderBy(x => x.SortOrder).FirstOrDefault().Price.WithVat.CurrencyString</strong>
                }
                else
                {
                    if (product.ProductDiscount("") != null)
                    {
                        <strong class="product__beforePrice" style="text-decoration:line-through;">@product.Price.BeforeDiscount.CurrencyString</strong>
                    }
                    <strong class="product__price">@product.Price.WithVat.CurrencyString</strong>
                }

                @using (Html.BeginEkomForm(FormType.AddToOrderProduct))
                {
                    <input type="hidden" name="productId" value="@product.Key" />
                    <input type="hidden" name="storeAlias" value="@product.Store.Alias" />
                    <input type="hidden" name="action" value="@OrderAction.AddOrUpdate" />

                    if (groups.Any())
                    {
                        <div class="product__variant-groups">
                            @foreach (var group in groups)
                            {
                                var groupSelected = group.Id == primaryVariantGroup.Id;

                                var color = group.GetPropertyValue("color");

                                <button type="button" class="product__groups-item @(groupSelected ? "product__groups-item--is-active" : "")" title="@group.Title" data-key="@group.Key">
                                    <span class="product__groups-color" style="background-color:#@color"></span>
                                    <span class="product__groups-caption">@group.Title</span>
                                </button>
                            }
                        </div>

                        <div class="product__variants">
                            @{
                                foreach (var group in groups)
                                {
                                    var groupSelected = group.Id == primaryVariantGroup.Id;

                                    <div class="product__variant @(groupSelected ? "product__variant--is-active" : "")" data-key="@group.Key">
                                        <label for="inp_@group.Key">
                                            Stærð
                                        </label>
                                        <select @(groupSelected ? "name=variantId" : "") data-name="variantId" id="inp_@group.Key">
                                            @foreach (var variant in group.Variants.OrderBy(x => x.SortOrder))
                                            {
                                                <option value="@variant.Key" data-price="@variant.Price.WithVat.CurrencyString">@variant.Title - @variant.Price.WithVat.CurrencyString - Stock: @variant.Stock - Type: @variant.GetType()</option>
                                            }
                                        </select>

                                    </div>
                                }
                            }
                        </div>
                    }

                    <div class="product__quantity">
                        <label for="inp_qty">
                            @Umbraco.GetDictionaryValue("PpQuantity")
                        </label>
                        <input type="number" value="1" name="quantity" id="inp_qty" />
                    </div>

                    <div class="product__actions">

                        <button class="button large product__add-to-cart">Setja í körfu</button>

                    </div>

                }

            </div>

        </div>

    </div>
}
