@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using uWebshop.API
@{
    Layout = "Masterpage.cshtml";
    var category = Catalog.GetCategory();

}
@section Main {
	
    <div class="row small-up-2 large-up-4">
        <div class="column">

            <h4>SubCategories</h4>

            <ul>
                @foreach (var c in category.SubCategories)
                {
                    <li>
                        <a href="@c.Url">@c.Title</a>
                    </li>
                }
            </ul>

            <h4>Products</h4>
            <ul>
                @foreach (var p in category.Products)
                {
                    <li>
                        <a href="@p.Url">@p.Title</a>

                    </li>
                }
            </ul>

            <h4>Recursive SubCategories</h4>

            <ul>
                @foreach (var r in category.SubCategoriesRecursive)
                {
                    <li>
                        <a href="@r.Url">@r.Title</a>
                    </li>
                }
            </ul>

            <h4>Recursive Products</h4>
            <ul>
                @foreach (var r in category.ProductsRecursive)
                {
                    <li>
                        <a href="@r.Url">@r.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>

}